<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsusFanControlGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AsusFanControlGUI.Properties.Settings>
            <setting name="fanSpeed" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="turnOffControlOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forbidUnsafeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToTrayOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoRefreshStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useFanCurve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fansOffOnSleep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fanCurvePointCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="useGpuCurve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpuCurveTemp1" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="cpuCurveFan1" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="cpuCurveTemp2" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="cpuCurveFan2" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="cpuCurveTemp3" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="cpuCurveFan3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="gpuCurveTemp1" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="gpuCurveFan1" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="gpuCurveTemp2" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="gpuCurveFan2" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="gpuCurveTemp3" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="gpuCurveFan3" serializeAs="String">
                <value>100</value>
            </setting>
        </AsusFanControlGUI.Properties.Settings>
    </userSettings>
</configuration>